body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    background: #56ccf2; /* fallback for old browsers */
    background: -webkit-linear-gradient(180deg, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #56ccf2, #2f80ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.container .col-md-12 {
    margin-top: 50px;
    padding: 30px;
    background-color: #ffffff;

    border-radius: 5px;
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, .125);
}

.container,
.pressedKeys {
    width: 700px;
    padding-top: 75px;
    margin: 0 auto;
}

.container div {
    margin: 15px 0 30px 0;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input,
.container textarea {
    width: 100%;
}

.container.demo-container textarea{
    border: 1px solid rgba(0, 0, 0, .125);
    outline: 0;

    padding: 10px;

    border-radius: 3px;
}

.step {
    position: absolute;
    right: 25px;
    top: 25px;
}

.step > a {
    display: inline-block;
    padding: 15px 35px;
    color: #fff;
    background-color: #00E18A;

    border-radius: 50px;

    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.125);

    text-decoration: none;

    transition: .35s ease-in-out;
}

.step > a:hover {
    background-color: #00b46e;
}

.step > a.previous {
    background-color: #000;
}

.step > a.previous:hover {
    background-color: #222;
}

.definitelyNotKeylogger__popup.dnkl__modal {
    width: 100vw;
    height: 100vh;

    z-index: 9999;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, .70);

    opacity: 0;
    visibility: hidden;

    transition: .25s ease-in-out;
}

.definitelyNotKeylogger__popup.dnkl__modal.modal--show {
    opacity: 1;
    visibility: visible;
}

/* .definitelyNotKeylogger__popup.dnkl__modal.modal--show > .modal__user--select {
    width: 250px;
    height: 65px;

    border-radius: 5px;

    background-color: #ffffff;

    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.125);

    position: absolute;
    left: 30px;
    top: 30px;

    overflow: hidden;
}

.definitelyNotKeylogger__popup.dnkl__modal.modal--show > .modal__user--select > select {
   width: 100%;
   height: 100%;

   border: 0;
   outline: 0;

   padding: 7px;
} */

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper {
    width: 80vw;
    height: 70vh;

    background-color: #ffffff;

    position: absolute;

    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);

    border-radius: 5px;
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, .125);

    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .heading {
    padding: 15px 0;
    font-size: 22px;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .heading > button {
    position: absolute;
    
    right: 15px;
    top: 15px;

    z-index: 100;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    outline: none;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .editor {
    width: 100%;
    height: calc(100% - 200px);
    
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .editor > textarea {
    width: 100%;
    height: 100%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;

    background-color: #f5f5f5;

    padding: 15px;

    resize: none;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer {
    margin-top: 20px;
    width: 100%;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer > .signature {
    height: 100%;
    display: flex;
    align-items: center;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer > .signature p {
    display: none;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer > .signature p.show-auth-signature {
    display: inline-block;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer > .signature p.show-auth-signature .badge{
    padding: 5px 10px;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer .button--save {
    float: right;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer .loader{
    display: none;
}

.definitelyNotKeylogger__popup.dnkl__modal > .modal__wrapper > .footer .loader.loader--show {
    display: inline-block;
}

.loader {
    height: 100px;
    width: 100px;
    text-align: center;
    padding: 1em;
    margin: 25px auto 15px;
    vertical-align: top;
}

svg path,
svg rect{
  fill: #FF6700;
}

